.inline-div {
    display: inline-block;
    margin: 0 auto;
    vertical-align: top;
    line-break: auto;
    height: 100%;
}

#conversation-tabs-container{
    width:20%
}

.Button.conversation-tab{
    width:100%;
    margin: 5px;
}

#conversation-messages-container{
    width:60%
}
#messenger-container{
    margin: 0 auto;
    width: 80%;
    text-align: center;
}